@using WTExpCalc.Models

<div class="wt-tree_item @(Node.Type == "folder" ? "wt-tree_group" : "")">
    @if (Node.Type == "folder")
    {
        <div class="wt-tree_group-folder" @onclick="Toggle">
            <div class="wt-tree_item-icon"
                 style="background-image:url('@Node.ImageUrl')"></div>
            <div class="wt-tree_item-text">@Node.Name</div>
        </div>
        @if (expanded)
        {
            <div class="wt-tree_group-items mt-2">
                @foreach (var child in children)
                {
                    <NodeCell Node="child" LoadChildren="LoadChildren" />
                }
            </div>
        }
    }
    else
    {
        <div class="wt-tree_item-simple">
            <div class="wt-tree_item-icon"
                 style="background-image:url('@Node.ImageUrl')"></div>
            <div class="wt-tree_item-text">@Node.Name</div>
            <div class="wt-tree_item-exp">@Node.RequiredExp</div>
        </div>
    }
</div>

@code {
    [Parameter] public Node Node { get; set; } = default!;
    [Parameter] public Func<int, Task<List<Node>>> LoadChildren { get; set; } = default!;

    private bool expanded;
    private List<Node> children = new();

    private async Task Toggle()
    {
        if (!expanded)
            children = await LoadChildren(Node.Id);
        expanded = !expanded;
    }
}
